* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  overflow: hidden;
}

.dg .cr {
  height: 50px !important;
  line-height: 50px !important;
  font-size: 24px !important;
}

.dg input[type="text"] {
  height: 50px !important;
  line-height: 50px !important;
  font-size: 24px !important;
}
